extends layout.pug

block head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous")





block content 
     .container
        form
            .form-row
                .col
                    input#first-name.form-control(type='text', placeholder='First name')
                .col
                    input#last-name.form-control(type='text', placeholder='Last name')
            .form-row
                .col
                    .form-group
                        label(for='text-field') 
                        textarea#text-field.form-control(rows='3' placeholder='Blog text')
            .form-row
                .col
                     button#submit-btn.btn.btn-dark(type='button') submit
        #blog-entries  
            each post in posts
                p   






            .row
                .col
                    .card.mt-5
                        .card-header
                            | Blog Entries
                        .card-body
                            h5#name
                            p#text 
                            .row.mt-5
                                .col
                                    button#update.btn.btn-primary(type='button') Update
                                .col
                                    button#delete.btn.btn-danger(type='button') Delete


                                    
